<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{juego.title}}</h5>
        <img class="card-img-top" src="{{juego.thumbnail}}" alt="Card image cap">
        <p class="card-text">{{juego.short_description}}</p>
        <a class="btn btn-primary" (click)="veAWeb(juego.freetogame_profile_url)">Ir a la web</a>
        <div class="form-check form-switch mt-3" style="color: white" >
            <input 
            class="form-check-input" 
            type="checkbox" 
            id="flexSwitchCheckDefault"
            [(ngModel)] = "favorito"
            (change)="cambia($event)"
            />
            <label class="form-check-label" for="flexSwitchCheckDefault">Favorito</label>
          </div>
    </div>
    <div class="card-footer">
        Fecha de lanzamiento: <br> {{juego.release_date|miFecha}}
    </div>
</div>